.list-item-container {
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 8px;
  margin: 8px;
  border-radius: 6px;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}
